python-Levenshtein
fuzzywuzzy
langchain-core
langchain-openai
langchain
flask
python-dotenv
typing-extensions
openai
langchain
langchain-openai
langchain-core
langchain-community
langgraph
sqlalchemy
qdrant-client
langchain-qdrant
playwright
langchain-text-splitters
nest-asyncio
streamlit